<div *ngIf="!validarLogin" class="container text-center p-5">
    <h1>Por favor, inicie sesión</h1>
</div>

<div *ngIf="validarLogin">
    <div class="container-flex p-3">
        <h1>Datos de Usuario</h1>
    </div>

    <div class="container-flex text-left pt-1 p-4">
        <div class="row align-items-start">
            <div class="divide">
                <div class="col">
                    <div class="row align-items-start pb-3">
                        <div class="col">
                            <h6>Datos Personales:</h6>
                        </div>
                    </div>
                    <div class="row align-items-start pb-3">
                        <div class="col">
                            Nombre:
                        </div>
                        <div class="col">
                            Franck
                        </div>
                    </div>
                    <div class="row align-items-start pb-3">
                        <div class="col">
                            Apellidos:
                        </div>
                        <div class="col">
                            Hurtado
                        </div>
                    </div>
                    <div class="row align-items-start pb-3">
                        <div class="col">
                            DNI:
                        </div>
                        <div class="col">
                            72235365
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row align-items-start pb-3">
                        <div class="col">
                            <h6>Datos de la empresa:</h6>
                    </div>
                </div>
                <div class="col">
                    <div class="row align-items-start pb-3">
                        <div class="col">
                            Id:
                        </div>
                        <div class="col">
                            017100363K
                        </div>
                    </div>
                    <div class="row align-items-start pb-3">
                        <div class="col">
                            Puesto:
                        </div>
                        <div class="col">
                            Gerente
                        </div>
                    </div>
                    <div class="row align-items-start pb-3">
                        <div class="col">
                            Estado:
                        </div>
                        <div class="col">
                            Activo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>